* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body, html {
	overflow-x: hidden;
	max-width: 100vw; 
}

/*    Fonts   */
@font-face {
  font-family: 'Gardenia Summer';
  src:	url('fonts/GardeniaSummer-nRLy4.ttf') format('truetype'),
  		url('fonts/GardeniaSummer-nRLy4.woff') format('woff');
}

h1 {
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
	color: #131415;
	font-size: calc(32px + (42 - 32) * ((100vw - 300px) / (1600 - 300)));
	font-weight: bold;
	letter-spacing: 0.04em;
	line-height: 1.2em;
	padding-top: 40px;
}

h2 {
	font-family: 'Gardenia Summer', sans-serif;
	color: #131415;
	font-size: calc(65px + (100 - 65) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 200;
	padding-bottom: 50px;
}

h3{
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
	color: #131415;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
	padding-bottom: 25px;
}

h4{
	font-family: 'Mukta', sans-serif;
	font-weight: 800;
	font-size: calc(38px + (128 - 38) * ((100vw - 300px) / (1600 - 300)));
	color: #F0F0D6;
	position: absolute;
	z-index: -1;
	max-width: 1200px;
	margin: 20px;
	line-height: 1.4em;
}


label {
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	color: #131415;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

p {
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	color: #131415;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
	padding-bottom: 10px;
	line-height: 1.4;
	letter-spacing: 0.04em;
}

a {
	color: #131415;
}

a:hover {
	color: #F2C008;
}

a:visited {
	color: ;
}

/* Buttons */

button, .submitButton {
	background-color: #F2C008; 
	border-radius: 6px;
	padding: 10px 48px;
	border: none;
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}

button:hover, .submitButton:hover {
	transform: scale(1.03);
}

button:active, .submitButton:active {
	border: solid 2px black;
}

/*   Header   */
#logo_horizontal {
	max-width: 250px;
	margin: 10px 0 0 20px;
}

/*    Home    */
.introtext {
	padding: 40px;
}
.introtext>p {
	margin: 20px 0 0 0;
}

.pic1Desktop {
	display: none;
}

.pic1Mobile {
	display: block;
	max-width: 100vw;
	transform: translate(10%,0);
}

/*    De Overgang    */
.info_overgang {
	padding: 40px;
}

.mobile_break {
	display: block;
}

/*    Werkwijze    */

#werkwijze {
	margin: 40px;
}

/*    Tarieven   */
#tarievensectie {
	background-color: #F0F0D6;
}

.tarieven {
	padding: 40px;
}


/*    Vergoedingen    */
.figureStones {
	position: absolute;
	width: 100vw;
	z-index: -1;
	transform: translate(0,-30%);
	overflow-x: hidden;
}

.bg_stones {
	width: 220vw;
	transform: translate(-5%,0);
}

.vergoedingen {
	margin: 40px;
	max-width: 50%;
}

/*    Over mij    */
.pic2Mobile {
	display: block;
	max-width: 100vw;
	transform: translate(-20%,0);
}

.pic2Desktop {
	display: none;
}

.Over_mij_text{
	margin: 40px;
}

/*    Contact    */

.contacttext {
 margin: 40px;
}

.contactDetails {
	padding-top: 20px;
}

.contactDetailsIcons {
	max-width: 30px;
	height: auto;
	transform: translate(0, 50%);
	padding: 0 15px 10px 0;
}

.formArticle {
	margin: 40px;
}

.label {
	line-height: 1;
}

input {
	width: 100%;
	border: none;
	border-bottom: 2px solid;
	padding: 5px;
	margin-bottom: 50px;
	background-color: #FAFAFA;
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

textarea {
	width: 100%;
	border: none;
	border-bottom: 2px solid;
	padding: 5px;
	margin-bottom: 50px;
	background-color: #FAFAFA;
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.submitButton {
	width: auto;
	margin: 0 0 auto auto;
}

input::placeholder, textarea::placeholder {
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	color: #999;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
	padding: 5px;
	line-height: 1.4;
	letter-spacing: 0.04em;
}

/*    Footer     */
footer{
	border-top: 20px solid #ADBD92;

}

.kaart{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 300px;
	border-bottom: 5px solid #F2C008;
	overflow: hidden;
	background-color: #B5C8BB;
}

.kaart img{
	height: 450px;
	width: auto;
}

.footer_a1 {
	padding: 40px;
}

.footer_a2{
	display: none;
}

.logo_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	padding-top: 20px;
}

.logo_liggend{
	width: auto;
	height: 30px;
}

.logo_staand {
	height: 55px;
	width: auto;
}

.extraFooter {
	background-color: lightgrey;
	text-align: center;
	max-width: 100vw;
}

.extraFooter>p{
	padding: 15px;
	font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.extraFooter a:hover {
	color: darkgrey;
}