* {
	margin: 0;
	padding: 0;
}

/* Fonts */
@font-face {
  font-family: 'Gardenia Summer';
  src: url('fonts/GardeniaSummer-nRLy4.ttf') format('ttf');
}

@font-face{
	font-family: 'Font-Awesome';
	src: url('fonts/fa-solid-900.ttf') format('ttf');
}

/* Fonts */
	h1 {
		font-family: 'Seravek Medium', sans-serif;
		color: #131415;
		font-size: calc(32px + (42 - 32) * ((100vw - 300px) / (1600 - 300)));
		font-weight: bold;
		letter-spacing: 0.04em;
	}

	h2 {
		font-family: 'Gardenia Summer', sans-serif;
		color: #131415;
		font-size: calc(65px + (100 - 65) * ((100vw - 300px) / (1600 - 300)));
		font-weight: lighter;
		padding-bottom: 50px;
	}

	h3{
		font-family: 'Seravek Medium', sans-serif;
		color: #131415;
		font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
		padding-bottom: 25px;
	}

	h4{
		font-family: 'Seravek Medium', sans-serif;
		font-size: calc(48px + (128 - 48) * ((100vw - 300px) / (1600 - 300)));
		color: #F0F0D6;
		position: absolute;
		z-index: -1;
	}

	label {
		font-family: 'Seravek', sans-serif;
		color: #131415;
		font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));

	}

	p{
		font-family: 'Seravek', sans-serif;
		color: #131415;
		font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
		padding-bottom: 10px;
		line-height: 1.4;
		letter-spacing: 0.04em;
	}

	a {
		color: #131415;
	}

	a:hover {
		color: #F2C008;
	}

/* Header - nav bar */

	.navBar {
		height: calc(70px + (180 - 70) * ((100vw - 300px) / (1600 - 300)));
	}

	#wide_nav{
		display: block;
	}

	#logo_horizontal {
		width: 22%;
		height: auto;
		margin: 30px 10%;
		position: absolute;
	}
	#meny {
		transform: none;
		background: none;
	}
	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		height: 15vh;
		width: 80%;
		margin: auto;
	}

	nav ul li{
	    list-style-type: none;
	    padding: 0 1%;
	}

	nav ul li a{
	    font-family: 'Seravek', sans-serif;
	    text-decoration: none;
	    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
	    color: #131415;
	}

	nav ul li a:hover{
	    color: #F2C008;
	}

	#meny {
	z-index: 100;
	}

	#menyAvPaa, #burger {
		display: none;
	}

	.sticky {
		position: fixed;
	}

/* Buttons */

	button {
		background-color: #F2C008; 
		border-radius: 6px;
		padding: 10px 48px;
		border: none;
		font-family: 'Seravek', sans-serif;
		font-size: 18px;
	}

/* Clipping masks & images */
	.clip_2 {
		max-width: 30%;
	}

/* section 1 Home */

	h4{
		max-width: 1200px;
		margin-left: 10%;
		padding-right: 15.6%;
	}

	.introtext {
		padding-top: calc(0px + (110 - 0) * ((100vw - 300px) / (1600 - 300)));
		margin-left: 15%;
	}
	.introtext>h1 {
		max-width: 400px;
	}

	.introtext>p {
		margin: 4% 0 2vh 0;
		max-width: 450px;
	}

	.pic1 {
		max-width: 40vw;
		position: absolute;
		margin-left: 55%;
		margin-top: 200px;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
	}

/* section 2 Overgang */
	#overgang{
		position: relative;
		z-index: -1;
	}

	.info_overgang{
		margin: 20% 15% 0% 15%;
	}
	.info_overgang>p {
		width: calc(100vw * (3/10));
	}

	.column2{
		margin-right: 0;
		margin-left: auto;
		transform: translate(0,-50%);
	}

/* section 3 Werkwijze */
	#werkwijze {
		text-align: center;
		margin: -200px 0 0 0;
		height: 80vh;
		z-index: 1;
		width: 100%;
	}

	.tabs {
	  display: flex;
	  justify-content: space-evenly;
	  flex-wrap: wrap;
	  gap:30px;
	  width: 100%;
	  margin: 100px auto auto 50%;
	  transform: translate(-50%, 0);
	}

	.tabs__label {
	  padding: 10px 16px;
	  cursor: pointer;
	}
	.tabs__label>h4{
		margin: 0;
		transform: translate(-10%, -65%);
	}
	.tabs__radio {
	  display: none;
	}

	.tabs__content {
	  order: 1;
	  width: 100%;
	  display: none;
	  text-align: left;
	  margin-left: 50%;
	}

	.tabs__content>p{
		max-width: calc(100vw * (3/10));
	}

	.tabs__radio:checked + .tabs__label {
	  font-weight: bold;
	  border-bottom: 3px solid #F2C008;
	}

	.tabs__radio:checked + .tabs__label + .tabs__content {
	  display: initial;
	}


/* section 4 Tarieven */
	#tarievensectie {
	background-color: #F0F0D6;
	}
	.tarieven {
		margin: 0 15%;
		padding: 50px 0;
		width: calc(100vw * (1/4));
		
	}
	.vergoedingen {
		margin: 0 15% 0 auto;
		width: calc(100vw * (2/9));
		transform: translate(0,-100%);
	}

	.vergoedingen>h2 {
		padding-bottom: 20px;
	}
	.figure__stones{
		width: 100%;
		overflow-x: hidden;
		margin-top: -730px;
		position: absolute;
	}
	.bg_stones{
/* 1200px breed */		
		max-width: 1200px;
		z-index: -1;
	}

/* Section 5 Over mij */

	.Over_mij_text {
		width: calc(100vw * (4/10));
		margin-left: 50%;
	}

	.pic2 {
		overflow: hidden;
		position: absolute;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
		margin: -50px auto auto -150px;
		max-width: 50%;
	}
	

/* Section 6 Contact */

	.contacttext {
		margin: 200px 15%;
		width: calc(100vw * (3/10));
	}

	.contactDetails {
		padding-top: 20px;
	}

	.contactDetailsIcons {
		max-width: 30px;
		height: auto;
		transform: translate(0, 25%);
		padding: 0 15px 10px 0;
	}

/* Footer - info bar */

	footer{
		border-top: 20px solid #ADBD92;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"top top top"
			"left left right"
			"bottom bottom bottom";
	}

	i {
		padding-right: 10px;
	}

	.kaart{
		grid-area: top;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		height: 300px;
		border-bottom: 5px solid #F2C008;
		overflow: hidden;
		background-color: #B5C8BB;
	}
	.kaart img{
		height: 450px;
		width: auto;
	}
	.footer_a1 {
		grid-area: left;
		margin: 4vh 0 4vh 10%;
	}
	.footer_a2 {
		grid-area: right;
		margin: 4vh 10% 4vh 0;
	}

	.logo_container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 40px;
		padding-top: 20px;

	}
	.logo_liggend{
		width: auto;
		height: 40px;
	}
	.logo_staand {
		height: 75px;
		width: auto;
	}
	.extraFooter {
		grid-area: bottom;
		background-color: lightgrey;
		text-align: center;
	}
	.extraFooter>p{
		padding: 15px;
		font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
	}


